!.gitignore
application.ini
/vendor
composer.lock
include.dev.php
.settings
*.db
/application/nbproject/private/
nbproject/private/
.idea/
.vscode/
ssl.key
ssl.cert
ssl.ca
ssl.combined
ssl.everything
.awstats-htpasswd
.bash_logout
.bash_profile
.bashrc
.filemin/
.usermin/**
.stats-htpasswd
Maildir/**
awstats/**
cgi-bin/**
etc/**
logs/**
public_html/awstats-icon/*/*
public_html/awstatsicons/*/*
public_html/stats/**
public_html/icon/**
awstats-icon
awstatsicons
.DS_Store
